@import '../../../sass/colors';
@import '../../../sass/variables';

.section {
  box-sizing: border-box;
  background-color: $color-light;
  overflow: hidden;
  position: relative;
  padding-bottom: $margin-large;
}

.ribbon {
  padding: 0 $margin-normal;
}
