@import '../../../sass/colors';
@import '../../../sass/variables';

.card {
  background-color: white;
  min-width: 300px;
  width: 300px;
  margin-right: $margin-normal;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  @media (min-width: $desktop-width) {
    min-width: 450px;
    width: 450px;
  }
  box-shadow: 0 0 15px $color-gray;
}
.card:last-child {
  margin-right: 0;
}

.picture {
  background-color: tomato;
  height: 20rem;
  overflow: hidden;
}

.image {
  width: 100%;
  object-fit: cover;
}

.container {
  padding: $margin-small $margin-small;
  display: flex;
  flex-direction: column;
}

.date {
  color: $color-dark-gray;
  font-family: $font-stack-regular;
  font-size: $font-string-smallest;
}

.header {
  color: $color-accent;
  font-family: $font-stack-regular;
  font-size: $font-string-normal;
  margin-bottom: $margin-small;
}

.text {
  color: $color-dark;
  font-family: $font-stack-light;
  font-size: $font-string-normal;
  flex-basis: 13rem;
}
