@import '../../../sass/colors';
@import '../../../sass/variables';

.section {
  box-sizing: border-box;
  background-color: $color-light;
  overflow: hidden;
  position: relative;
}

.ribbon {
  padding: 0 $margin-normal;
}
