@import '../../../sass/colors';
@import '../../../sass/variables';
@import './_variables';

.slide {
  height: $hero_height_mobile;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  @media (min-width: $tablet-width) {
    height: $hero_height_desktop;
    padding: 0;
  }
}
.image {
  //width: 100%;
  object-fit: cover;
}
.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 0 6rem;
  max-width: $desktop-width;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.masterText {
  margin: 0;
  font-family: $font-stack-bold;
  font-size: 4.8rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: left;
  animation-delay: 0.2s;
}
.slaveText {
  margin: $margin-smaller 0;
  font-family: $font-stack-regular;
  font-size: 2.5rem;
  line-height: 1.5em;
  text-align: left;
  animation-delay: 0.6s;
}
.buttonWrapper {
  margin-top: $margin-normal;
  animation-delay: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttonQuiz i {
  left: 60%;
}
.buttonQuiz {
  margin: 0 0 $margin-normal;
  &:hover i {
    opacity: 1;
    left: 78%;
  }
  &:hover span {
    left: -18%;
  }
}
.buttonCalculator i {
  left: 75%;
}
.buttonCalculator {
  margin: 0 0 $margin-normal;
  &:hover i {
    opacity: 1;
    left: 83%;
  }
  &:hover span {
    left: -10%;
  }
}
@media (min-width: $tablet-width) {
  .masterText,
  .slaveText {
    text-align: center;
  }
  .buttonWrapper {
    flex-direction: row;
  }
  .buttonQuiz,
  .buttonCalculator {
    margin: 0 $margin-smaller;
  }
}
