@import 'colors';
@import 'variables';

.button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  transform: translateZ(0);
  outline: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: solid 0.2rem $color-light;
  border-radius: 0.3rem;
  padding: 0.75em 2.5em;
  font-family: $font-stack-bold;
  cursor: pointer;
}

$disable-color: $color-gray;

.button__transparent {
  background-color: transparent;
}
.button__transparent--light {
  color: $color-light;
  &:hover {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-light;
  }
}
.button__transparent--dark-gray {
  color: $color-dark-gray;
  border-color: $color-dark-gray;
}

.button__transparent--disabled {
  color: $disable-color;
  border-color: $disable-color;
  pointer-events: none;
  &:hover {
    color: $disable-color;
    border-color: $disable-color;
  }
}

.button__accent {
  background-color: $color-accent;
  border: solid $color-accent;
  &:hover {
    background-color: $color-light;
    border-color: $color-light;
    color: $color-accent;
  }
}
.button__accent--light {
  color: $color-light;
}
.button__accent--dark-gray {
  color: $color-light;
  &:hover {
    background-color: $color-dark-gray;
    border-color: $color-dark-gray;
    color: $color-light;
  }
}
.button__accent--bordered {
  color: $color-light;
  &:hover {
    background-color: $color-light;
    border-color: $color-accent;
    color: $color-accent;
  }
}
.button__accent--disabled {
  color: $color-light;
  background-color: $disable-color;
  border-color: $disable-color;
  pointer-events: none;
  &:hover {
    background-color: $disable-color;
    color: $color-light;
    border-color: $disable-color;
  }
}

.button__icon {
  opacity: 0;
  transition: opacity 0.3s ease, left 0.3s ease;
  position: absolute;
}
.button__text {
  left: 0;
  transition: left 0.3s ease;
  position: relative;
}
