//$color-body-background: #000000;
//$color-main-background: #ececec;
//$color-main-border: #c4c4c4;
//$color-item-background: #ffffff;
//$color-item-disabled: #c4c4c4;
//$color-accent-a: #1170b7;
//$color-accent-b: #06c363;
//$color-text-dark: #000000;
//$color-text-light: #ffffff;
//$color-shade: #002856;

$color-accent: rgb(16, 184, 199);
$color-light: #ffffff;
$color-light-gray: rgb(247, 247, 247);
$color-dark: #444444;
$color-footer-background: #1c1c1c;
