//Futura
@font-face {
  font-family: 'Futura Light';
  src: url('/fonts/Futura/FuturaLightC.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Regular';
  src: url('/fonts/Futura/FuturaBookC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Medium';
  src: url('/fonts/Futura/FuturaMediumC.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Bold';
  src: url('/fonts/Futura/FuturaDemiC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
