@import '~normalize.css';
@import 'action-buttons';
@import 'awesome/fontawesome';
@import 'animations';
@import 'divider';
@import 'popup-wrapper';
@import 'legend';
@import '404';
@import 'odometer';
@import 'leaflet';
@import '~swiper/swiper';
@import '~swiper/components/navigation/navigation';
@import '~swiper/components/lazy/lazy';

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  font-size: 45%;
  overflow-x: hidden;
  @media (min-width: $tablet-width) and (min-height: $mobile-landscape-height) {
    font-size: 55%;
  }
  @media (min-width: $desktop-width) {
    font-size: 62.5%;
  }
}
.visHidden {
  display: none;
}
.noscroll {
  overflow: hidden;
}
.logo__logo {
  fill: $color-accent;
}
.logo__text {
  fill: $color-dark;
  @media (min-width: $desktop-width) {
    fill: $color-light;
  }
}
