@import './colors';
@import './variables';

.popup {
  background-color: rgba($color-dark, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms;
}
.popup.active {
  opacity: 1;
  pointer-events: all;
}
.popup__window {
  background-color: $color-light;
  border-radius: 0.2rem;
  margin: 0;
  @media screen and (min-width: $tablet-width) {
    margin: $margin-large;
  }
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 $margin-big;
}
