@import './colors';
@import './variables';

.swiper-pagination-bullet {
  opacity: 1;
  width: 1.2rem;
  height: 1.2rem;
  background-color: $color-light;
}

.swiper-pagination-bullet-active {
  background-color: $color-accent;
}

.swiper-container {
  max-height: 100vh;
}
