@import './colors';
@import './variables';

.swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  background-color: $color-light;
  opacity: 0.5;
  margin: 0 0.5rem !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-container {
  max-height: 100vh;
}

.slider-news {
  width: auto;
}

.swiper-scrollbar {
  height: 3rem !important;
  border-radius: 0 !important;
  left: 0 !important;
  width: 100% !important;
  background-color: $color-gray !important;
}

.swiper-scrollbar-drag {
  background-color: $color-accent;
  height: 3rem;
  border-radius: 0;
}
