@import '../../../sass/colors';
@import '../../../sass/variables';

.list {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  animation-duration: 400ms;
  position: relative;
  z-index: 101;
}
.list_item {
  z-index: 50;
  position: relative;
  cursor: pointer;
  background-color: $color-light;
  @media (min-width: $desktop-width) {
    animation-duration: 400ms;
    &:hover .image_wrapper {
      top: -10rem;
    }
    &:hover .image {
      filter: grayscale(0%);
    }
    &:hover .triangle {
      opacity: 1;
    }
    &:hover .description_wrapper {
      opacity: 1;
      bottom: 0;
    }
  }
}
.button {
  border: none;
  outline: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $color-light;
}
.image_wrapper {
  position: relative;
  top: 0;
  transition: top 400ms;
}
.image {
  z-index: 60;
  position: relative;
  width: 100%;
  object-fit: contain;
  transition: filter 600ms;
  filter: brightness(70%);
  @media (min-width: $desktop-width) {
    filter: grayscale(95%);
  }
}
.triangle {
  z-index: 61;
  opacity: 0;
  border-top: 1.5rem solid transparent;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 1.5rem solid $color-light;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 400ms;
}
.description_wrapper {
  padding: 0 $margin-tiny;
  z-index: 61;
  position: absolute;
  height: 10rem;
  line-height: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-light;
  bottom: 0;
  align-items: center;
  transition: bottom 400ms, opacity 600ms;
  @media (min-width: $desktop-width) {
    color: $color-dark;
    bottom: -10rem;
    opacity: 0;
    z-index: 59;
  }
}
.header {
  margin: 0;
}
.link {
  font-size: $font-string-normal;
  font-family: $font-stack-light;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: inherit;
  @media (min-width: $desktop-width) {
    font-size: $font-string-small;
    letter-spacing: 0.1rem;
    &:hover {
      color: $color-accent;
    }
  }
}
.text {
  margin: 0.7rem 0 0;
  font-family: $font-stack-regular;
  font-size: $font-string-small;
  text-align: center;
}
