@import '../../../sass/variables';
@import '../../../sass/colors';

.header {
  background-color: $color-light;
  position: relative;
  z-index: 10000;
  @media (min-width: $desktop-width) {
    background-color: transparent;
    width: 100%;
    position: absolute;
  }
}
.container {
  position: relative;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: $margin-big $margin-large $margin-big $margin-big;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-dark;
  @media (min-width: $tablet-width) {
    padding: $margin-big $margin-large;
  }
  @media (min-width: $desktop-width) {
    color: $color-light;
  }
}
.menu_burger {
  font-size: 3rem;
  padding: $margin-small;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  @media (min-width: $tablet-width) {
    display: none;
  }
  &:hover,
  :active {
    opacity: 0.4;
  }
}
.logo {
  width: 152px;
  height: 4.5rem;
  margin-top: -1rem;
  @media (min-width: $tablet-width) {
    height: 4rem;
  }
}
.list {
  list-style: none;
  margin: $margin-normal 0;
  padding: 0;
  display: none;
  font-family: $font-stack-medium;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: $font-string-normal;
  @media (min-width: $tablet-width) {
    display: flex;
    color: $color-dark;
  }
  @media (min-width: $desktop-width) {
    color: $color-light;
  }
}
.listItem {
  margin: 0 $margin-big 0 0;
  cursor: pointer;
  &:hover,
  :active {
    opacity: 0.8;
  }
}
.link {
  text-decoration: none;
  color: inherit;
}
