@import '../../../sass/colors';
@import '../../../sass/variables';

.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav {
  position: relative;
  height: 6rem;
  width: 4rem;
  font-size: 3rem;
  color: $color-light;
  z-index: 1000;
  cursor: pointer;
  background-color: $color-dark;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  &:hover {
    color: $color-dark;
    background-color: $color-light;
  }
  &:hover .text {
    transform: rotateY(0);
  }
  @media (min-width: $desktop-width) {
    width: 5rem;
  }
}
.prev {
  left: 0;
  transition-duration: 0.6s;
}
.next {
  right: 0;
  transition-duration: 0.6s;
}
.text {
  white-space: nowrap;
  user-select: none;
  position: absolute;
  padding: 0 $margin-normal;
  background-color: $color-dark;
  color: $color-light;
  display: none;
  font-family: $font-stack-regular;
  text-transform: uppercase;
  font-size: $font-string-small;
  letter-spacing: 0.15rem;
  height: 6rem;
  transform: rotateY(90deg);
  transition: transform 300ms;
  &_left {
    transform-origin: 0 50%;
    left: 100%;
  }
  &_right {
    transform-origin: 100% 50%;
    right: 100%;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
