@import '../../../../../sass/variables';
@import '../../../../../sass/colors';

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: $margin-smaller $margin-normal;
  color: $color-dark;
  min-width: 30rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.2rem solid $color-dark;
  transition: all 400ms;
  outline: none;
  &:hover {
    color: $color-accent;
    border: 0.2rem solid $color-accent;
  }
}
.text {
  text-transform: uppercase;
  margin-left: $margin-small;
  font-family: $font-stack-regular;
  font-size: $font-string-small;
}
