@import '../../../sass/variables';
@import '../../../sass/colors';

.popup {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-popup-background;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  overflow: hidden;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 100vh;
  background-color: $color-dark-gray;
  max-width: 1170px;
}

.image {
  width: 100%;
  object-fit: cover;
  display: flex;
}
