@import '../../../../sass/variables';
@import '../../../../sass/colors';

.wrapper {
  width: 100%;
  margin-bottom: $margin-normal;
}
.input {
  width: 100%;
  font-size: $font-string-normal;
  font-family: $font-stack-regular;
  padding: $margin-tiny;
  border-radius: 0.5rem;
  outline: 0;
  cursor: pointer;
}
