@import '../../../../../sass/variables';
@import '../../../../../sass/colors';

.table {
  font-family: $font-stack-light;
  background-color: $color-light;
  color: $color-dark;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: $font-string-small;
}
.cellHeader {
  padding: $margin-small $margin-small;
  background-color: $color-dark;
  color: $color-light;
  font-size: $font-string-normal;
}
.cellData {
  padding: $margin-smaller $margin-small;
}
.cellAlignLeft {
  text-align: left;
}
.cellAlignRight {
  text-align: right;
}
.rowData {
  border-bottom: 0.2rem $color-gray solid;
}
.rowData:nth-last-child(-n + 2) {
  font-family: $font-stack-regular;
  font-size: $font-string-normal;
}
